footer {
  margin: 0;
  margin-top: .5em;
  padding: .5em;
  width: 100%;
}

.github-fork-ribbon-wrapper {
  display: none;
}

@media all and (min-width: 50em) {

  footer {
    margin-top: 0;
    padding: 0;
  }

  .fork-me {
    display: none;
  }

  .github-fork-ribbon-wrapper {
    display: block;
  }

}
